{%extends "master.html"%} 
{%load static%} 
{%block head%}
<link rel="stylesheet" href="{%static 'css/styles.css'%}" />
<title>CIMS-Crime Information Management System</title>
{%endblock%} {%block content%}
<header>
  <h1>Kenya Crime Information Management System</h1>
  <div class="himgs">
    <img src="{%static 'Images/NPS.png'%}" alt="National Police Service" />
    <img src="{%static 'Images/Kenya_Police.png'%}" alt="Kenya Police" />
    <img src="{%static 'Images/COA.png'%}" alt="Coat of Arms" />
    <img src="{%static 'Images/LocateIT.jpg'%}" alt="LocateIT" />
  </div>
</header>

<nav>
    
</nav>

{%endblock%}
